.card {
  max-width: 1440px;
  height: 900px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  background: #f5f5f5 url("background_tram_with.png") no-repeat left 30% bottom
    100%;
  @media (max-width: 1024px) {
    background-position: left 80% bottom 100%;
  }
  .nav {
    display: flex;
    padding: 30px 70px 0 70px;
    align-items: center;
    img {
      margin-right: auto;
      margin-left: 70px;
      width: 64px;
      height: 56px;
    }
    a {
      font-family: PT Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.05em;
      color: #000000;
      text-decoration: none;
      margin-right: 100px;
    }
  }
  .description {
    display: flex;
    margin: 200px auto 0 auto;
    p {
      margin-left: auto;
      margin-right: 200px;
      max-width: 524px;
      font-family: PT Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 29px;
      letter-spacing: 0.05em;
      color: #000000;
    }
    p::first-letter {
      float: left;
      padding: 10px 5px 5px 5px;
      font-size: 48px;
      line-height: 64px;
    }
  }
  .images {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    .train {
      flex-shrink: 0;
    }
    .people {
      @media (max-width: 1310px) {
        display: none;
      }
      flex-shrink: 0;
      margin-top: 160px;
    }
  }
  .LuckyTicketLogo {
    margin: 44px 89px 10px auto;
  }
}
