.header {
  .title {
    padding: 90px 132px;
    background: #f5f5f5;
    border-bottom: 2px solid black;
    .title-clock-fix {
      display: flex;
      h1 {
        margin-top: 180px;
        max-width: 1182px;
        max-height: 288px;
        font-family: Bebas Neue;
        font-size: 96px;
        line-height: 144px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #333333;
      }
      .clock {
        @media (max-width: 1345px) {
          display: none;
        }
        max-width: 432px;
      }
    }
    .train {
      position: relative;
      z-index: 1;
      margin-top: 350px;
      margin-bottom: -160px;
      margin-left: 10%;
      overflow: hidden;
      @media (max-width: 1345px) {
        margin-left: -30%;
      }
    }
    .train_ride {
      transition: transform 5s ease;
      transform: translate(-80%);
    }
  }
  .phone {
    z-index: 2;
    position: relative;
    z-index: 10;
    display: block;
    max-width: 411px;
    margin-top: -425px;
    margin-left: auto;
    @media (max-width: 1345px) {
      margin-left: 50%;
    }
  }
}
