.hero {
  margin-top: 220px;
  @media (max-width: 1345px) {
    margin-top: 500px;
  }
  height: 3000px;
  background: #333333 url("hero_ellipse_background.svg") no-repeat left 50% top
    20%;
  max-width: 1920px;
  .comrades_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .phone {
      @media (max-width: 1300px) {
        display: none;
      }
    }
    .text_wrapper {
      margin-left: 195px;
      @media (max-width: 1300px) {
        margin: 0 auto;
      }
      h1 {
        @media (max-width: 1300px) {
          margin: 0 auto;
        }
        margin-left: 5%;
        max-width: 629px;
        font-family: Bebas Neue;
        font-size: 96px;
        line-height: 115px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #f5f5f5;
        transition: transform 1s;
        transform: translateY(300px);
      }
      .hand_wrapper {
        margin-top: 169px;
        display: flex;
        flex-wrap: wrap;
        .ticket {
        }
        .hand {
          margin-left: 58px;
          @media (max-width: 770px) {
            transform: rotate(30deg);
            margin-left: 0;
            margin-right: 30px;
            margin-top: 70px;
          }
        }
      }
    }
  }
  .card {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    margin: 640px auto 0 auto;
  }
  .Lenin {
    overflow: hidden;
    transform: -100px;
    @media (max-width: 950px) {
      margin-left: -30%;
    }
    @media (max-width: 800px) {
      display: none;
    }
  }
  .LeninShow {
    transform: translateY(-200px);
    transition: transform 500ms ease;
  }
}
@keyframes textAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
