.SpeedCard {
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  background: #f5f5f5 url("./background.png") no-repeat bottom;
  max-width: 1440px;
  padding-top: 32px;
  height: 900px;
  .logo {
    padding-left: 72px;
  }
  .content_wrapper {
    position: relative;
    padding-left: 72px;
    display: flex;
    margin-top: 60px;
    max-width: 1440px;
    justify-content: space-around;
    align-items: center;

    .speedmeter_wrapper {
      max-width: 475px;
      p {
        position: relative;
        margin-top: 60px;
        padding: 0;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 29px;
        letter-spacing: 0.05em;
        margin-right: -230px;
        z-index: 2;
        color: #333333;
      }

      p::first-letter {
        float: left;
        padding: 10px 5px 5px 5px;
        font-size: 48px;
        line-height: 64px;
      }
    }
    h1 {
      font-family: Bebas Neue;
      font-size: 72px;
      line-height: 86px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #5f60e5;
      width: 400px;
      transform: rotate(-90deg);
    }
  }

  .LuckyTicketLogo {
    margin: 220px 89px 50px auto;
    padding-bottom: 30px;
  }
}
